<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
    <ion-button color="dark" slot="end" routerLink="/registrar"><ion-icon name="person-add-outline"></ion-icon></ion-button>
    <ion-button color="dark" slot="end" routerLink="/home">CRUD USERS</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://cdn2.iconfinder.com/data/icons/ios-14-custom-application/62/application-49-256.png" />
    <ion-card-header>
      <ion-card-subtitle>LOGIN</ion-card-subtitle>
      <ion-card-title>FORMULARIO DE INGRESO</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input placeholder="Ingrese usuario" type="text" [(ngModel)]="user"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input placeholder="Ingrese contraseña" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-button color="secondary" (click)="login()">INGRESAR</ion-button>
      
    </ion-card-content>
  </ion-card>
</ion-content>
